<div class="body">
  <mdc-card class="join" [mdcElevation]="2">
    &nbsp;
    <section class="header" style="text-align:center">
      <h3>Pay the entry fee and start hacking!</h3>
    </section>
    <form [formGroup]="joinForm">

      <mdc-select #hackathonId id="hackathonId" [helperText]="hackathonHelper" placeholder="City" name='hackathonId' formControlName="hackathonId"  outlined class="custom-select-outline-color">
          <mdc-icon mdcSelectIcon>location_city</mdc-icon>
        <mdc-menu>
            <mdc-list>
              <mdc-list-item value='1'>San Pedro Sula</mdc-list-item>
              <mdc-list-item value='2'>Tegucigalpa</mdc-list-item>
              </mdc-list>
          </mdc-menu>
        </mdc-select>
        <mdc-helper-text #hackathonHelper validation>Any cities selected</mdc-helper-text>

    </form>
    &nbsp;
    <div class="button-container">
      <button mdc-button secondary unelevated  class="big-round-shape-button" (click)="joinHackathon($event)" [disabled]="!hackathonId.value">Join Hackathon</button>
    </div>
    &nbsp;
  </mdc-card>
</div>

