<div class="body">
    <mdc-card class="join" [mdcElevation]="2">
        &nbsp;
        <section class="header" style="text-align:center">
            <h4>Your address is:</h4>
            <h6>{{ direction}} </h6>
            <h4>Balance:</h4>
            <h5>{{balance}} ETH</h5>
        </section>
        <form [formGroup]="joinForm">
            <mdc-form-field fluid>
                <mdc-text-field type="text" min=0 label="Hackathon Id" outlined class="demo-text-field--outline" required id="hackathon_id" formControlName="hackathon_id"></mdc-text-field>
                <mdc-helper-text persistent validation *ngIf="formErrors.hackathon_id"> {{ formErrors.hackathon_id }} </mdc-helper-text>
            </mdc-form-field>
        </form>

        &nbsp;
        <div class="button-container">
          <button mdc-button secondary unelevated  class="big-round-shape-button" (click)="joinHackathon($event)">Join Hackathon</button>
        </div>
        &nbsp;
    </mdc-card>
</div>

