<mdc-top-app-bar #demoappbar fixed [mdcElevation]="4" [fixedAdjustElement]="mainContent">
	<mdc-top-app-bar-row>
		<mdc-top-app-bar-section align="start" title="Hackathon Muñon">
      <button mdcIconButton mdcTopAppBarNavIcon icon="menu"  (click)="demoModal.open = !demoModal.open"></button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <mdc-icon mdcTopAppBarActionItem routerLink="/account">person</mdc-icon>

    </mdc-top-app-bar-section>
	</mdc-top-app-bar-row>
</mdc-top-app-bar>
<div class="main" #mainContent>
  <div class="content">
    <div class="layout__row--no-wrap demo-drawer-app">
      <mdc-drawer drawer="modal" #demoModal open>
        <mdc-drawer-header>
          <h3 mdcDrawerTitle>Hackathon Muñon ⛓️</h3>
          <h6 mdcDrawerSubtitle>2019</h6>
        </mdc-drawer-header>
        <mdc-drawer-content>
          <mdc-list useActivatedClass>
            <a mdc-list-item routerLink="/create">
              <mdc-icon mdcListItemGraphic>add</mdc-icon>Create
            </a>

            <a mdc-list-item routerLink="/join">
              <mdc-icon mdcListItemGraphic>compare_arrows</mdc-icon>Join
            </a>

            <a mdc-list-item routerLink="/rate">
              <mdc-icon mdcListItemGraphic>star</mdc-icon>Rate
            </a>

            <a mdc-list-item routerLink="/cashout">
              <mdc-icon mdcListItemGraphic>attach_money</mdc-icon>Cash out
            </a>

            <a mdc-list-item routerLink="/enable-review">
              <mdc-icon mdcListItemGraphic>compare_arrows</mdc-icon>Enable review
            </a>
          </mdc-list>
        </mdc-drawer-content>
      </mdc-drawer>
    </div>
  </div>
</div>

