<mdc-top-app-bar #demoappbar fixed [mdcElevation]="4" [fixedAdjustElement]="mainContent">
	<mdc-top-app-bar-row>
      <h1 style="align-content: center" *ngIf="resolution <= 599"> Hackathon Muñon</h1>
      <h1 style="align-content: start" *ngIf="resolution >= 600"> Hackathon Muñon</h1>
		<mdc-top-app-bar-section align="start">
      <button mdcIconButton mdcTopAppBarNavIcon icon="menu"  (click)="demoModal.open = !demoModal.open" *ngIf="resolution >= 600"></button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
        <button mdc-button unelevated
            routerLink="/account"  *ngIf="resolution >= 600 && account">
            <img [src]="account_image" class="profile" />
            <span mdcButtonLabel>{{account}}...</span>
        </button>
      <mdc-icon *ngIf="resolution <= 599" routerLink="/account">person</mdc-icon>
      <mdc-icon *ngIf="resolution >= 599 && !account" routerLink="/account">person</mdc-icon>
    </mdc-top-app-bar-section>
 
  </mdc-top-app-bar-row>
  <mdc-top-app-bar-row *ngIf="resolution <= 599">
    <mdc-top-app-bar-section>
      <mdc-tab-bar fixed align="center" [activeTabIndex]="-1">
        <mdc-tab-scroller>
          <mdc-tab label="Join" routerLink="/join"></mdc-tab>
          <mdc-tab label="Rate" routerLink="/rate"></mdc-tab>
          <mdc-tab label="Cash Out" routerLink="/cashout"></mdc-tab>
        </mdc-tab-scroller>
      </mdc-tab-bar>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>
<div class="main" #mainContent>
  <div class="content">
    <div class="layout__row--no-wrap demo-drawer-app">
      <mdc-drawer drawer="modal" #demoModal >
        <mdc-drawer-header>
          <h3 mdcDrawerTitle>Your menu</h3>
        </mdc-drawer-header>
        <mdc-drawer-content>
          <mdc-list useActivatedClass>
            <a mdc-list-item routerLink="/join">
              <mdc-icon mdcListItemGraphic>check</mdc-icon>Join
            </a>

            <a mdc-list-item routerLink="/rate">
              <mdc-icon mdcListItemGraphic>star</mdc-icon>Rate
            </a>

            <a mdc-list-item routerLink="/cashout">
              <mdc-icon mdcListItemGraphic>attach_money</mdc-icon>Cash out
            </a>

          </mdc-list>
        </mdc-drawer-content>
      </mdc-drawer>
    </div>
  </div>
</div>

