.profile{
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-position: center center;
  margin-right: 10%;
  object-fit: cover;

}
.profileInfura{
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-position: center center;
  margin-right: 10%;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
