<div class="body">
  <mdc-card class="enableReview" [mdcElevation]="2">
    &nbsp;
    <section class="header" style="text-align:center">
      <h3>
        Close registration and allow everyone to start reviewing each other.
      </h3>
    </section>
    <form [formGroup]="enableReviewForm">
       <mdc-select
        #hackathonId
        id="hackathon_id"
        [helperText]="hackathonHelper"
        placeholder="City"
        name="hackathon_id"
        formControlName="hackathon_id"
        outlined
        class="custom-select-outline-color"
      >
        <mdc-icon mdcSelectIcon>location_city</mdc-icon>
        <mdc-menu>
          <mdc-list>
            <mdc-list-item value="1">San Pedro Sula</mdc-list-item>
            <mdc-list-item value="2">Tegucigalpa</mdc-list-item>
          </mdc-list>
        </mdc-menu>
      </mdc-select>
      <mdc-helper-text #hackathonHelper validation
        >Any cities selected</mdc-helper-text
      >
    </form>
    &nbsp;
    <div class="button-container">
      <button
        mdc-button
        secondary
        unelevated
        class=""
        (click)="enableReviewHackathon($event)"
      >
        Enable review
      </button>
    </div>
    &nbsp;
  </mdc-card>
</div>
