.account{
  max-width:100%;
  margin: 2em auto;
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
  overflow: hidden;
}
.body{
  max-width:100%;
  margin: 2em auto;
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
  overflow: hidden;
}

.header{
  padding: 30px;
}

.profile{
  border: 3px solid #dc3545;
  border-radius: 50%;
  background-position: center center;
  width: 170px;
  height: 170px;
  object-fit: cover;
}

.profileInfura{
  border: 3px solid #dc3545;
  border-radius: 50%;
  width: 20%;
  background-position: center center;
  width: 170px;
  height: 170px;
  object-fit: cover;
}
.center{
  align-content: center;
  align-items: center;
  align-self: center;
}
