.account{
  max-width:100%;
  margin: 2em auto;
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
}
.body{
  max-width:100%;
  margin: 2em auto;
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 50px;

}

.header{
  padding: 30px;
}

.profile{
  border: 2px solid rgb(202, 201, 201);
  border-radius: 50%;
  background-position: center center;
}
