<div class="body">
  <mdc-card class="register" [mdcElevation]="2">
    <p>Event host admin</p>
    <mdc-list useActivatedClass>
      <a mdc-list-item routerLink="/sponsor">
        <mdc-icon mdcListItemGraphic>attach_money</mdc-icon>Sponsor
      </a>

      <a mdc-list-item routerLink="/create">
        <mdc-icon mdcListItemGraphic>add</mdc-icon>Create
      </a>

      <a mdc-list-item routerLink="/enable-review">
        <mdc-icon mdcListItemGraphic>compare_arrows</mdc-icon>Enable review
      </a>

      <a mdc-list-item routerLink="/finish">
        <mdc-icon mdcListItemGraphic>compare_arrows</mdc-icon>Finish hackathon
      </a>
    </mdc-list>
  </mdc-card>
</div>
