.register{
  max-width:100%;
  margin: 2em auto;
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
}
.body{
  max-width:100%;
  margin: 2em auto;
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 10px;
}

.logo{
  width: 70%;
  height: 70%;
}
.status{
  background-color: #4A57AD;
}
.coinbase{
  background-color: #265EEF;
}
