<div class="body">
  <mdc-card class="create" [mdcElevation]="2">
    &nbsp;
    <section class="header" style="text-align:center">
      <h3>Generate a new hackathon and invite others to join!</h3>
    </section>
    <form [formGroup]="createForm">
      <mdc-form-field fluid>
        <mdc-helper-text persistent validation *ngIf="formErrors.amount">
          {{ formErrors.amount }}
        </mdc-helper-text>
      </mdc-form-field>
    </form>
    &nbsp;
    <div class="button-container">
      <button
        mdc-button
        secondary
        unelevated
        class=""
        (click)="createHackathon($event)"
      >
        Create Hackathon
      </button>
    </div>
    &nbsp;
  </mdc-card>
</div>
