<div class="body">
  <mdc-card class="finish" [mdcElevation]="2">
    &nbsp;
    <section class="header" style="text-align:center">
      <h3>
        Close registration and allow everyone to start reviewing each other.
      </h3>
    </section>
    <form [formGroup]="finishForm">
      <mdc-form-field fluid>
        <mdc-select
          #hackathonId
          id="hackathonId"
          [helperText]="hackathonHelper"
          placeholder="City"
          name="hackathonId"
          formControlName="hackathonId"
          outlined
          class="custom-select-outline-color"
        >
          <mdc-icon mdcSelectIcon>location_city</mdc-icon>
          <mdc-menu>
            <mdc-list>
              <mdc-list-item value="1">San Pedro Sula</mdc-list-item>
              <mdc-list-item value="2">Tegucigalpa</mdc-list-item>
            </mdc-list>
          </mdc-menu>
        </mdc-select>
        <mdc-helper-text #hackathonHelper validation
          >Any cities selected</mdc-helper-text
        >
        <mdc-helper-text persistent validation *ngIf="formErrors.sendaddress">
          {{ formErrors.sendaddress }}
        </mdc-helper-text>
      </mdc-form-field>
    </form>
    &nbsp;
    <div class="button-container">
      <button
        mdc-button
        secondary
        unelevated
        class=""
        (click)="finishHackathon($event)"
      >
        Finish hackathon
      </button>
    </div>
    &nbsp;
  </mdc-card>
</div>
